body {
  background-color: #e6ebf1;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
}

aside {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 180px;
  height: 100%;

  background-color: #e3e9f4;
  border-right: 1px solid rgba(15, 23, 42, 0.25);
}

.container {
  text-align: center;
  margin-left: 200px;
  padding-left: 60px;

  width: 100%;
  max-width: 760px;
  align-items: center;
}

header {
  text-align: center;
}
header h1 {
  color: #272044;
  font-size: 18px;
  font-weight: 780;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0;
}
header p {
  margin-top: 50px;
  font-size: 28px;
  line-height: 1.5;
  font-weight: 530;
  color: #334155;
}

aside p {
  font-size: 15px;
  color: #475569;
  margin-bottom: 5px;
}
aside ul {
  font-size: 15px;
  margin: 0px;
  list-style: none;
  padding-left: 0px;
  color: #1a1533;
  font-weight: 500;
}

form {
  margin-top: 10px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.instructions {
  padding: 5px;
  border: none;
  font-size: 15px;
  color: #6b7280;
  width: 80%;
  outline-style: none;
}

footer {
  text-align: center;
}
