body {
  background-color: #f6f8fb;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

main {
  display: flex;
}

aside {
  position: fixed;
  padding-left: 10px;
  width: 180px;
  height: 100%;
  background-color: #dee5f0;
  border-right: 1px solid rgba(15, 23, 42, 0.25);
}

.container {
  text-align: justify;
  color: #000000;
  margin-left: 220px;
  padding-left: 60px;
  width: 100%;
  max-width: 800px;
  align-items: center;
}
.generating {
  margin-top: 80px;
}

header {
  text-align: center;
}
header h1 {
  color: #100c21;
  font-size: 18px;
  font-weight: 780;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 10px;
}
header p {
  margin-top: 80px;
  font-size: 28px;
  line-height: 1.5;
  font-weight: 540;
  color: #272044;
}

aside p {
  margin-top: 20px;
  font-size: 15px;
  color: #475569;
  margin-bottom: 5px;
}
aside ul {
  font-size: 15px;
  margin: 0px;
  list-style: none;
  padding-left: 0px;
  color: #100c21;
  font-weight: 500;
  margin-bottom: 10px;
}

form {
  margin-top: 60px;
  padding: 10px;
  color: #1a1533;
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.instructions {
  padding: 5px;
  border: none;
  font-size: 15px;
  color: #100c21;
  width: 80%;
  outline-style: none;
}

.submit-button {
  background-color: #edf1f6;
  color: #100c21;
  border: 1px solid rgba(15, 23, 42, 0.25);
  border-radius: 20px;
  padding: 10px 24px;
  transition: all 100ms ease-in-out;
}

.submit-button:hover {
  background-color: #e3e9f4;
  color: #100c21;
}

.try-these-prompts {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: left;
}

.try-these-prompts p {
  font-size: 20px;
  font-weight: 500px;
  color: #100c21;
  margin-bottom: 12px;
}

.try-these-prompts button {
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  padding: 14px 16px;
  border: 1px solid rgba(15, 23, 42, 0.3);
  border-radius: 25px;
  color: #100c21;
  font-size: 15px;
  background-color: #ffffff; /* #f9f7f3 */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: all 100ms ease-in-out;
}

.try-these-prompts button:hover {
  background-color: #e3e9f4;
  color: #100c21;
}

.hidden-buttons {
  display: none;
}

footer {
  margin-top: 80px;
  text-align: center;
  color: #565d6a;
  font-size: 14px;
}
